{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>{% include 'tags/metatags.html' %}
        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %} {{ site_name }}{% endblock %}</title>
        <link rel="SHORTCUT ICON" href="{% static 'favicon.ico' %}" type="x-icon"/>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/tomorrow.min.css">
        

</head>
<!-- https://www.uxpin.com/studio/ -->
<body>
{% include 'tags/navigation.html' %}
<!--end of .header-->
<main id="main">
{% block banner %}{% endblock %}
{% block content %}{% endblock %}
</main><!--end of .main-->
<footer id="footer">
        {% footer_links %} 
</footer>

<script async src="{% static 'js/main.js' %}"></script>
<script async src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/go.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</body>

        

    