{% extends "base.html" %}
{% load staticfiles %}
{% load blog_tags %}

{% block title %}Home{% endblock %}


{% block banner %}
<section class="hero" role ="banner">
  <div class="container pt text-center">
      <h1 class="desc"> Hello, I'm Cindy<span style="color:#AEC33A;">.</span></h1>
      <h2 style="color:#fff;">I talk about Coding and share life experiences</h2>
  </div>
  
    
</section>
{% endblock %}


{% block content %}


<section class="cindyquotes pt pb mb">
  <div class="container text-center">
      <span class="dis-block pt">
          Creativity is just connecting things. When you ask creative people how they did something,
          they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
       </br>- Steve Job’s</span>
  </div>
  </section>


  <section class="work">
    <div class="row mentor">
        <div class="column col-sm-6 item-border elements-holder-item pb">
            <div class="elements-item-inner">
                <div class="elements-item-content">
                  <h2>Mentorship.</h2>
                  <div class="edgtf-separator clearfix text-left" style="border-color: #fEC748;"></div>
                  <p class="mb">I am a Tech ambassador for women.I believe it's time for the gender gap in tech to be filled.I offer mentorship to girls and women who code. 
                  I talk,organize and host tech events. </p>
                  <a class="button" href="/aboutcindy/">Contact Me</a>
                </div>
              </div>
        </div>
        <div  id='image-item' class="column col-sm-6 elements-holder-item" style="background-image: url('{% static 'images/cindyalc1.png' %}')";>
          <div class="elements-item-inner">
              <div class="elements-item-content" style="padding:0%;"></div>
        </div>
        </div>
    </div>



    <div class="row learn ">
    <div id='image-item' class="column col-sm-6 elements-holder-item" style="background-image: url('{% static 'images/cindyalc4.png' %}')";>
      <div class="elements-item-inner">
        <div class="elements-item-content" style="padding:0%;">
        </div>
    </div>
    </div>

    <div class="column col-sm-6 item-border elements-holder-item pb">
        <div class="elements-item-inner">
            <div class="elements-item-content">
            <h2>Learn</br> programming</h2>
          <div class="edgtf-separator clearfix text-left" style="border-color: #fEC748;"></div>
          <p class="mb">The whole idea is to empower you to dive into coding.You have what it takes and the time to start is now.Learn Django,
            javascript and many  other web technologies absolutely free</p>
          <button><a href="{% url 'blog:post_list' %}">Go To Class</a></button>
        </div>
        </div>
      </div>
    </div>
    <div class="row host ">
      <div class="column col-sm-6 item-border elements-holder-item pb">
          <div class="elements-item-inner">
              <div class="elements-item-content">
                <h2>hosting.</h2>
                  <div class="edgtf-separator clearfix text-left" style="border-color: #fEC748;"></div>
                    <p class="mb">I can host small to medium web application at  reasonable charges.Host your Django, wordpress,perl and others with me</p>
                      <a class='button' href="/aboutcindy/">Contact Me</a>
              </div>
          </div>
      </div>


    <div id='image-item' class="column col-sm-6 elements-holder-item" style="background-image: url('{% static 'images/cindyalc10.png' %}')";>
      <div class="elements-item-inner">
              <div class="elements-item-content" style="padding:0%;">
                </div>
            </div>
    </div>
    </div>
  </section>

      <section class="featured products mb">
          <div class="container">
            <h2 class="section-title">Featured Products</h2>
            <div class="edgtf-separator-holder clearfix text-center">
                <div class="edgtf-separator" style="border-color: #ffd301;margin-top: 15px;margin-bottom: 29px"></div>
              </div>
              <ul class="row padding">
                <li class="column featured">
          
                </li>
              </ul>
        
              </div>
        </section>

        <section class="recent_blogs mb pt pb">
            <div class="container">
              <h2 class="section-title">Latest Blog</h2>
              <div class="edgtf-separator-holder clearfix  text-center">
                <div class="edgtf-separator" style="border-color: #fEC748;"></div>
              </div>

                  {% show_latest_posts 3 %}
                  <div class="text-center pt"><a class="more__posts" href="{% url 'blog:post_list' %}">More Posts</a></div>        
          </section>

        	<!-- Banner video -->

        <section class="parallax pb pt">
          <div class="container  text-center">
            <h2><span style="color: #ffffff;">Subscribe to Newsletter.</span></h2>
            <div class="edgtf-separator clearfix text-center" style="border-color: #fEC748;"></div>
            
              <p class="text-center dis-block">
                <button><a href="{% url 'newsletter:subscribe' %}" target="_blank">Join my newsletter</button></a>
              </p>
          </div>
        </section>
    
      <section class="gallery pb pt">
        <div class="container text-center">
            <h2 class="section-title">Gallery</h2>
            <div class="edgtf-separator clearfix text-center" style="border-color: #fEC748;"></div>
              <h4 class="text-center" style="color:#fff;">view some amazing photos</h4>
          <div class="gallery-grid">
            <div class="one"><img src="{% static 'images/cindyalc1.png' %}"></div>
            <div class="two"><img src="{% static 'images/cindyalc.png' %}"></div>
            <div class="three"><img src="{% static 'images/cindyalc10.png' %}"></div>
            <div class="four"><img src="{% static 'images/cindyalc4.png' %}"></div>
              </div>



          </div>
        </div>
      </section>
      <section class="partners pb pt" style="background-color: #fff;">
        <div class="container">
          <h2 class="section-title">Partners</h2>
          <div class="edgtf-separator-holder clearfix  text-center mb">
            <div class="edgtf-separator" style="border-color: #fEC748;"></div>
          </div>

          <ul class="partners-section">
              <li class="text-center elements-holder-item">
                  <div class="image-inner">
                    <div class="image-holder">
                    <div class="image-holder-inner">
                      <div id="overlay">
                          <span class="client-image dis-block">
                              <img src="{% static 'images/image-2019-03-30.jpg' %}" alt="">
                            </span>
                          <span class="client-hover-image dis-block">
                            <img src="{% static 'images/librarywhite250x150.png' %}" alt="">
                          </span>
                      </div>
                      </div>
  
                    </div>
                  </div>
              </li>
            <li class="text-center elements-holder-item">
                <div class="image-inner">
                  <div class="image-holder">
                  <div class="image-holder-inner">
                    <div id="overlay">
                        <span class="client-image dis-block">
                            <img src="{% static 'images/image-2019-03-30.jpg' %}" alt="">
                          </span>
                        <span class="client-hover-image dis-block">
                          <img src="{% static 'images/librarywhite250x150.png' %}" alt="">
                        </span>
                    </div>
                    </div>

                  </div>
                </div>
            </li>
            <li class="text-center elements-holder-item">
                <div class="image-inner">
                  <div class="image-holder">
                  <div class="image-holder-inner">
                    <div id="overlay">
                        <span class="client-image dis-block">
                            <img src="{% static 'images/mochahost_250x150.png' %}" alt="">
                          </span>
                        <span class="client-hover-image dis-block">
                          <img src="{% static 'images/librarywhite250x150.png' %}" alt="">
                        </span>
                    </div>
                    </div>

                  </div>
                </div>
            </li>
            <li class="text-center elements-holder-item">
                <div class="image-inner">
                  <div class="image-holder">
                  <div class="image-holder-inner">
                    <div id="overlay">
                        <span class="client-image dis-block">
                            <img src="{% static 'images/mailjet1.jpg' %}" alt="">
                          </span>
                        <span class="client-hover-image dis-block">
                          <img src="{% static 'images/librarywhite250x150.png' %}" alt="">
                        </span>
                    </div>
                    </div>

                  </div>
                </div>
            </li>

          </ul>
          </div>
      </section>


    {% endblock %}

   