html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
    background-color:#f2f2f2;
	font-family: Open sans, Helvetica, Sans-serif;
	line-height: 1.8;
    font-size: 16px;
    color: #303030;
}
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  img, embed, video {
	max-width: 100%;
	height: auto;
}
a {
	color: #D92139;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
a:hover {
	color: #253f58;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat";
    font-weight: 700;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

main{
    min-height: 100%;


}
input {
	width: 100%;
	max-width: 100%;
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: 1px solid #d5d5d5;
}
#id_message{width: 100%;}
 .row{
    width: 100%;
        display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
   
} 
.mb {margin-bottom: 2.5em;}
.pt {padding-top: 2.5em;}
.pb {padding-bottom: 3em;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.edgtf-separator {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 3px solid #fEC748;
	width: 79px;
}

.elements-item-inner {
    width: 100%; 
    padding: 0 1em;  
}

.column,.detail-post{width: 100%;}

#post-meta{
    display: table;
    width: 100%;
    margin-bottom: 0;
    padding-left: .5em;
    padding-right: .5em;
}

#post-meta .post-bottom-left, #post-meta .post-bottom-right {
    display: table-cell;
    vertical-align: middle;
}


@media only screen and (max-width: 600px){
    
}

@media only screen and (min-width: 601px){
    .detail-post {
        float: left;
    }
    .sidebar{float: right}
    .col-2{width:50%}
    .single-post{ margin: 0 2em;}

}

@media only screen and (min-width: 768px){
    .col-3{width:75%}
    .col-4{width:25%}
}
@media only screen and (min-width: 992px){
    .single-post{ margin: 0 4em;}
}
