html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color:#f2f2f2;
	font-family: Open sans, Helvetica, Sans-serif;
	line-height: 1.8;
	font-size: 16px;
	word-wrap: break-word;
	color: #303030;
}

a {
	color: #D92139;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

a:hover {
	color: #253f58;;
	outline-offset: -2px;
	text-decoration: none;
}

button,
.more__posts {
	color: #fff;
	font-size: .7rem;
	line-height: 1.9;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.05em;
	letter-spacing: .1em;
	border: 0;
	background-color: #D92139;
	padding: 1.5em 5em;
}

button a {
	color: #fff;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

img,
embed,
video {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	color: #3a3a3a;
	/* color:#AEC33A;
	color:#FEC33A; */
	font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h5 a,
h6 a {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
}

h1 {
	font-size: 2.5em;
	line-height: 1em
}

h2 {
	font-size: 2em;
	line-height: 1.2em;
	letter-spacing: -2px;
}

h3 {
	font-size: 1.5em;
	line-height: 1.25em;
	letter-spacing: -1.5px;
}

h4 {
	font-size: 1.35em;
}

h5 {
	font-size: 1em;
	line-height: 1.579em;
}

* {
	box-sizing: border-box;
}


blockquote {
	background-color: #f5f5f5;
	border-left: 5px solid #dbdbdb;
	padding: 0.5em 1em;
}

ul.errorlist {
	background-color: #D92139;
	background-color: #15c26b;
	color: White;
	padding: .1em;
	width: 55%;
	padding: 20px 25px;
	border-radius: 2px;
	color: #fff;
	text-align: left;
}

header,
main,
footer,
.container,
section {
	width: 100%
}

input {
	width: 100%;
	max-width: 100%;
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: 1px solid #d5d5d5;
}

pre,
code {
	font-size: 14px;
}


/* ====================== header ====================== */

#main-header {
	width: 100%;
	height: 80px;
	background: #fff;
	transition: height 0.3s ease-out;
	position: fixed;
	z-index: 5;
	box-shadow: -1px 0 26px 0 rgba(0, 0, 0, .75);
	top: 0;
	right: 0;
	left: 0
}

.header__logo {
	letter-spacing: -1px;
	position: absolute;
	top: 35%;
	font-weight: 700;
	
}

.menu-item a {
	font-weight: 400;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	-webkit-transition: color .15s ease-out;
	-moz-transition: color .15s ease-out;
	transition: color .15s ease-out;
	padding: .75em 15px;
}

nav a:hover {
	color: #616161;
	text-decoration: underline;
}

.header-icons,
.checkout_items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 2em;
	top: 2em;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.dis-block {
	display: block;
}

.header-account,
.cart-header {
	height: 27px;
	position: relative;
}


/* ====================== header-icons dropdown ====================== */

.header-icons ul.dropdown {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	display: none;
	background: #fff;
	position: absolute;
	z-index: 5;
	top: 100%;
	right: 0;
	padding: 2em 3em;
}

.header-icons li:hover>ul,
.header-icons li:focus-within>ul,
.header-icons li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.header-icons li ul li {
	clear: both;
	width: 100%;
}

.checkout_items {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #111;
	background-color: #D92139;
	font-size: 10px;
	top: 4px;
	left: 1.5em;
	color: antiquewhite;
}

.checkout_items a {
	color: antiquewhite;
}

.basket {
	width: 2em;
}


/* ====================== hero ====================== */

.hero {
	width: 100%;
	position: relative;
	background: url("/static/images/girlcoding.jpg") no-repeat center center;
	background-color: #D92139;
	height: 500px;
	/* Resize the background image to cover the entire container */
	background-size: cover;
	padding-top: 7em;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.desc {
    color: #ffff;
   
   
}


h1.desc{
    position: relative;
    animation: heading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
/* The animation code */
@keyframes heading{
    0%   {top: -50px;}
    100% {top: 40px;}
  }

main {
	min-height: 100%;
}


/* ====================== parralax ====================== */

.parallax {
	/* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
	/* overflow-x: hidden;
    */
	/* Enable scrolling on the page. */
	/* overflow-y: auto;
    */
	/* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
	/* perspective: 1px;
    -webkit-perspective: 2px;
    */
	background-image: url('https://placekitten.com/g/900/700');
	background-attachment: fixed;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.masonry {
	transition: all .5s ease-in-out;
	column-gap: 30px;
	column-fill: initial;
	background-color: #fff;
}

.masonry .brick {
	margin-bottom: 30px;
	display: inline-block;
	vertical-align: top;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.topspace {
	margin-top: 6em;
}

.row {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	/* display: -webkit-box;
    display: -moz-box;
    */
}

.column {
	width: 100%;
	margin-bottom: 2.5em;
}

.dis-block {
	display: block;
}

.section-title {
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
}

.edgtf-section-subtitle {
	display: block;
	text-align: center;
}

.edgtf-separator {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 3px solid #fEC748;
	margin: 1.5em 0;
	width: 79px;
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}

.mb {
	margin-bottom: 2.5em;
}

.pt {
	padding-top: 2.5em;
}

.pb {
	padding-bottom: 5em;
}



.header-icons li,
.menu-item{
    list-style: none;
}

.elements-holder-item-inner {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.edgtf-clients .edgtf-client-image-holder {
	padding: 20px 0;
}

.edgtf-clients .edgtf-client-holder {
	margin-bottom: 0
}

.edgtf-clients .edgtf-client-holder .edgtf-client-holder-inner {
	position: relative;
	margin: 0
}

.edgtf-clients .edgtf-client-holder .edgtf-client-image-holder-inner,
.edgtf-clients .edgtf-client-holder a {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	line-height: 0;
	-webkit-transition: opacity .15s ease-out;
	-moz-transition: opacity .15s ease-out;
	transition: opacity .15s ease-out;
	position: relative;
	overflow: hidden
}

.edgtf-clients .edgtf-client-holder .edgtf-client-image {
	position: relative;
}

.edgtf-clients .edgtf-client-holder .edgtf-client-hover-image {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-filter: grayscale(50%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(50%);
}

.edgtf-clients .edgtf-client-holder.edgtf-clients-roll-over .edgtf-client-image {
	-webkit-transition: all .35s cubic-bezier(.69, -.04, .54, .99);
	-moz-transition: all .35s cubic-bezier(.69, -.04, .54, .99);
	transition: all .35s cubic-bezier(.69, -.04, .54, .99)
}

.edgtf-clients .edgtf-client-hover-image {
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%)
}

.edgtf-clients .edgtf-client-holder.edgtf-clients-roll-over:hover .edgtf-client-hover-image {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0)
}

.edgtf-clients .edgtf-client-holder.edgtf-clients-roll-over:hover .edgtf-client-image {
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%)
}
.gallery{
	background-color: #253F58;

}
.gallery h2{
	color: #fff;
}
ul.partners-section li {
	display: inline-block;
	text-align: center;
	margin-bottom: 0;
}

.partners-section li a,
.post-meta a,
ul.dropdown li a {
 color: #253f58;;
}

.gallery-grid {
	display: grid;
	grid-row-gap: 1em;

}



/* =================== blog common ====================== */

.category {
	border-bottom: 1px solid yellowgreen;
	display: inline-block;
	font-size: 9px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.time {
	color: #444;
	display: inline-block;
	position: relative;
	margin-bottom: 9px;
	font-size: 12px;
}


/* ====================== blog list ====================== */

.post-meta {
	display: table;
	width: 100%;
	margin-bottom: 0;
}

footer.post-meta .edgtf-post-info-bottom-left,
footer.post-meta .edgtf-post-info-bottom-right {
	display: table-cell;
	vertical-align: middle;
}

.post-meta .edgtf-post-info-bottom-left>div,
.post-meta .edgtf-post-info-bottom-right>div {
	display: inline-block;
	position: relative;
	color: #818181;
	font-size: 12px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	letter-spacing: .5px;
	text-transform: uppercase;
	margin-right: 4px;
}

.post-meta .edgtf-post-info-bottom-right {
	text-align: right;
	white-space: nowrap;
	padding-left: 20px;
}


/* ====================== blog details ====================== */

.sidebar {
	padding: 30px;
	padding: 0 1.5em;
}

.sidebar .aside-title {
	font-size: 14px;
	text-transform: uppercase;
	margin: 21px 0;
}

.sidebar ul {
	padding: 0;
	line-height: 18px;
	font-size: 14px;
}

.sidebar a:hover {
	color: #dadada;
}

.detail_post {
	width: 100%;
}

.single-post {
	width: 100%;
	padding: 0 1em;
}

.single-post img {
	display: block;
	margin: 0 auto;
}

ul.post-social li {
	display: inline-block;
}

.entry-header h2 {
	margin: 0 0 30px 0
}

.entry-meta a {
	font-size: 13px;
	color: #6b6b6b;
}

.entry-meta span {
	margin-right: 10px;
}

.byline {
	display: inline;
	margin-right: 0;
}

.social-icon li {
	margin: 0 10px;
	color: #888;
	font-size: 1.05em;
	display: inline-block;
}

.single-caption,
.entry-title,
.meta-info {
	text-align: center;
}

.achiengbytes::before {
	position: absolute;
	color: #f4f4f4;
	font-size: 65px;
	line-height: 1;
	z-index: 0;
	font-family: FontAwesome;
	transition: .2s ease-in;
}

.achiengbytes {
	border-left: 0;
	position: relative;
	padding: 65px 25px 45px;
	color: #999;
	line-height: 1.4;
	z-index: 1;
	margin: 0;
}

.edgtf-post-info-bottom-right a:hover {
	color: #DA4453;
}

.author-bio {
	padding: 3em 0;
	border: 1px solid #eee;
	width: 100%;
	clear: both;
}

.avatar {
	float: left;
	margin-right: 1.5em;
	border-radius: 100%;
}

.author-name {
	text-transform: uppercase;
	margin-top: 0;
}

.author-bio .author-description {
	padding-left: 6em;
}


/*====================== related posts ====================== */

.related_posts {
	width: 100%;
}

.related_posts ul li {
	display: block;
	text-align: center;
	margin-right: .5em;
}

.related_posts ul li:last-of-type {
	margin-right: 0;
}

.related-title,
.aside-title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 0;
	color: #636467;
}


/*====================== social buttons ====================== */

.social-buttons li a {
	line-height: 24px;
	border-radius: 100%;
	display: inline-block;
	padding: 10px;
	height: 2.5em;
	width: 2.5em;
	margin-right: 0.5em;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
}


/*====================== forms ====================== */

.signup-form {
	margin: 10em auto;
	max-width: 100%;
	width: 320px;
}

.form-signin input {
	margin-bottom: 1em;
}

.signup-form .text-center {
	margin-top: 1.5em;
}

.btn-block {
	background-color: #179bd7;
	width: 100%;
	padding: 1em 0;
}


/*====================== footer ====================== */

#footer {
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #1b1a18;
	padding: 40px 0;
}


/* ====================== max-width of 350 ====================== */

@media only screen and (max-width: 350px) {
	input[name='code'] {
		width: 50%;
	}
}


/* ====================== max-width of 480 ====================== */

@media only screen and (max-width: 480px) {
	.mentor .edgtf-elements-holder-item-content {
		padding: 26% 0% 47.3% 0%;
	}
	.edgtf-image-masonry-grid-sizer {
		width: 100%;
	}
}


/* ====================== max-width: 576px ====================== */

@media only screen and (max-width: 576px) {
	.container {
		max-width: 540px;
	}
	h2 {
		font-size: 1.5em;
	}
	h1 {
		letter-spacing: -2px;
		font-size: 2em;
	}
	.social-buttons li a {
		margin-right: 0.2em;
	}
}


/* ====================== max-width of 640 ====================== */

@media only screen and (max-width: 640px) {
	pre,
	code {
		font-size: 12px;
	}
	blockquote {
		margin: 0;
	}
}


/* ====================== max-width of 767 ====================== */

@media only screen and (max-width: 767px) {
	.header__menu {
		position: absolute;
		padding: 1.5em 1.5em;
		right: 0;
		top: 0;
		z-index: 15;
	}
	.header-icons {
		right: 10em;
	}
	.menu-item {
        width: 100%;
        padding: 1em 0;
	}
	.menu-item a {
		color:#aec33a;
	}
	.nav {
		width: 300px;
		z-index: 10;
		background-color: #253f58;
        position: absolute;
        height:100vh;
        bottom: 0;
        right: -100%;
        top: 80px;
        transition: all 1s ease-in-out;
    }

	.nav.open {
		right: 0;
		top: 0;
	}
	.bar1,
	.bar2,
	.bar3 {
		width: 30px;
		height: 5px;
        background-color: #fEC748;
		margin: 6px 0;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        transition: all.25s ease-in-out;
    }
    
	/* Rotate first bar */
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	/* Fade out the second bar */
	.change .bar2 {
        opacity: 0;
        transform: rotate(-45deg) translate(0, -1px);
	}
	/* Rotate last bar */
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}

	.parallax {
		background-attachment: scroll;
	}

}

@media only screen and (min-width: 600px) and (max-width: 768px) {
	.mentor .edgtf-elements-holder-item-content {
		padding: 26% 0% 47.3% 0%;
	}
	.masonry {
		column-count: 2;
	}
}


/* ====================== min-width: 730px ====================== */

@media only screen and (min-width: 768px) {
	.container {
		max-width: 740px;
	}
	.header__logo {
		left: 1em;
	}
	.menu-list {
		display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;
		align-items: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		justify-content: center;
	}
	.menu-item a{
		color: #303030;

	}
	
  
	.header-icons {
		right: 3em;
	}
	.header-icons li {
		padding-right: 1em;
	}
	.cart-header {
		padding-right: 0;
	}
	.masonry {
		column-count: 3;
	}
	.col-sm-6 {
		width: 50%
	}
	.col-md-4 {
		width: 33.333%
	}
	.col-md-8 {
		width: 66.66%
	}

	.detail_post {
		padding: 2em 3em;
	}

	.gallery-grid{
		grid-template: repeat(2, 1fr) / 1fr 2fr 1fr;
	}
	.two{
		grid-row: 1/3;
		grid-column: 2;
	}
	.three{
		grid-row: 1/3;
		grid-column: 3;
	}
	


}


/* ====================== min-width: 990px ====================== */

@media only screen and (min-width: 992) {
	.container {
		max-width: 970px;
	}
	.col-lg-4 {
		width: 25%
	}
	.col-lg-8 {
		width: 75%
	}
}


/* ====================== min-width: 1024px ====================== */

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}