html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: rgba(26,26,26,.75);
	/* background-color: #f2f3f5;
	background-color: #F2F2F2; */
	font-family: Open sans, Helvetica, Sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.8em;
	word-wrap: break-word;
	letter-spacing: 0em;
	text-transform: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom: 2em;
	font-family: "Patua One";
	font-family: adobe-garamond-pro;
	} 

    button {
        padding: 0.2em 2em;
        border-radius: 5px;
        font-size: 12px;
        text-transform: uppercase;
        min-height: 3em;
        line-height: 1.9;
        color: #fff;
    }
    
    button a {
        color: #fff;
    }
    
    a {
        color: #d51b1e;
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    a:hover {
        color: #212121;
        outline-offset: -2px;
        text-decoration: none;
    }
    
    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px
    }
    * {
        box-sizing: border-box;
    }
    
    img,
    embed,
    video {
        max-width: 100%;
        height: auto;
    }
    
    blockquote {
        background-color: #f5f5f5;
        border-left: 5px solid #dbdbdb;
        padding: 0.5em 1em;
    }
    
    pre,
    code {
        font-size: 14px;
    }
    
    .topspace {
        margin-top: 6em;
    }
    
    .container {
		background-color: #fff;
		padding: 0;
		width: 100%;
    }
    .container:after, .container:before {
		content: " ";
		display: table;
	}

	.edgtf-container > .edgtf-container-inner, .page-id-1212 .edgtf-content .edgtf-content-inner > .edgtf-full-width > .edgtf-full-width-inner {
		padding: 100px 0 38px 0;
	}

	.row, .header-icons ul{
		display:flex;
		display: -ms-flexbox;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		justify-content: center;
        -ms-flex-align: center;
	}
	.column{
		margin-bottom: 1em;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}


    
    ul.errorlist {
        background-color: #D0021B;
        color: White;
        padding: 2px;
    }
    .header {
        width: 100;
    }
    section {
        width: 100%;
    }
    .section-title {
        text-align: center;
		font-size: 1.6em;
		color: #272727;
		margin: 2em 0 3em 0;
		font-weight: 500;
    }
    
    input {
        padding: 8px;
        width: 100%;
        border-radius: 3px;
		box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
		width: 100%;
		border: 1px solid #d5d5d5;
    }
    
    .signup-form input {
        margin-bottom: 1em;
    }
    

/* ====================== header ====================== */

#main__header {
	width: 100%;
	height: 80px;
	background: #fff;
	transition: height 0.3s ease-out;
	position: fixed;
	z-index: 5;
	box-shadow: -1px 0 26px 0 rgba(0, 0, 0, .75);
	top: 0;
}

#main__header .header__logo {
	letter-spacing: -1px;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#main__header .header__logo,
.header-icons a {
	font-size: 1em;
}

#main__header .nav__list {
	margin-top: 2.5%;
}

#main__header .nav__list li {
	transition-duration: 0.5s;
}

#main__header .nav__list li a {
	color: #222;
	font-weight: 400;
	padding: 1em;
}

#main__header .nav__list li:last-of-type a {
	padding-right: 0;
}

nav li a:hover {
	text-decoration: underline;
	color: #212121;
}

nav li.active>a {
	color: #78d5ef !important;
}

.header-icons ul {
	position: absolute;
	right: 2em;
	top: 10%;
	list-style-type: none;

}


/* https://css-tricks.com/solved-with-css-dropdown-menus/ must work with display non e out */

ul.dropdown {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;
	margin-top: 2.5em;
	display: none;
	background: #F5F5F5;
	position: absolute;
	z-index: 5;
}

.header-icons ul li:hover>ul,
.header-icons ul li:focus-within>ul,
.header-icons ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.header-icons ul li ul li {
	clear: both;
	width: 100%;
}
.header-icons ul li {
	padding: 0 0.4em;
	padding: 10px;
}

/* .header-icons ul:last-of-type li {
    padding-right: 0;
}
*/

.header-icons img {
	width: 2em;
}
.search_form {
	position: relative;
}
.search-icon {
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	bottom: 0;
	cursor: pointer;
	margin: 2px;
	width: 25px;
}
#checkout_items {
	text-align: center;
	width: 2em;
	height: 1.9em;
	border-radius: 50%;
	background-color: #b60c0c;
	color: white;
	font-size: 12px;
	position: absolute;
	top: -40%;
	right: 45%;
}


/* ====================== banner ====================== */

.hero {
	width: 100%;
	position: relative;
	background: url("/static/images/image5.jpg") no-repeat center center;
	/* The image used */
	height: 400px;
	/* You must set a specified height */
	background-size: cover;
	/* Resize the background image to cover the entire container */
	padding-top: 8em;
}

.hero h1,
.hero .desc{
	color: #fff;
}

.hero h1 {
	font-size: 2rem;
}

.hero .desc {
    font-size: 0.9375rem;

}




/* ====================== typed.js ====================== */

.typed-cursor {
	opacity: 1;
	font-weight: 100;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* ====================== lead ====================== */
.text-center {
	text-align: center;
}

.text-muted {
	color: rgba(26,26,26,.9);
	color: #999;
}

/* ====================== main ====================== */

.nav__list,
.nav__item,
.dropdown,
.dropdownli,
.partners li,
.related_posts li,
.services li,
.recent__works li,
.posts,
.post__list,
.aside li,
.products li,
.recent_blogs li {
	list-style: none;
}

.single-post li,
#footer_outer ul.social-buttons,
.recent__works ul,
.recent__works li,
.popular__posts ul,
.popular__posts li,
.related_posts ul,
.related_posts li,
ul.post-social,
figure,
figcaption,
.aside li,
.recent_blogs ul,
.recent_blogs li {
	margin: 0;
	padding: 0;
}


.services .column {
	color: #fff;
	text-align: center;
	padding: 24px;
	background-color: #222f62; 	
}
.services .ambassador {
	background-color: #222f62;
	-webkit-box-shadow: 1px 1px 2px 3px #222f62;
	box-shadow: 1px 1px 2px 3px #222f62;
}

.services .column:nth-of-type(2n) {
	background-color: #2e77bd;
	-webkit-box-shadow: 1px 1px 2px 3px #2e77bd;
	box-shadow: 1px 1px 2px 3px #2e77bd;
}

.services .column a {
	color: wheat;
}

.partners-section{

	display: table-cell;
	vertical-align: middle;
	height: 100%;
	background-size: cover;
	
	}

.entry-title a,
.article-header .category,
.card-wrapper p a,
.recent_blogs h3 a,
.popular__posts li a {
	color: #272727;
	color: #0e1015;
}

.popular__posts {
	background-color: #f6f7f8;
}

.article-header,
.more__posts {
	text-align: center;
}

.more__posts {
	margin-top: 2em;
}

.more__posts button {
	padding: 1em 3em;
	background-color: #d51b1e;
}

.more__posts button a {
	color: #fff;
}

.post-image {
	float: left;
}
.card-wrapper {
	background: #fff none repeat scroll 0 0;
	padding: 0em 0.8em;
	transition: all 0.5s ease-in-out 0s;
	margin-bottom: 1em;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.content-item section {
    color: #5c5c5c;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 13px;
}
.content-item .author-name, .content-item .publication-date {
    font-size: 12px;
    line-height: 1.33;
    color: #9d9d9d;
}
.post-link{
    display: block
}




/* =================== blog common ====================== */

.category {
	border-bottom: 1px solid yellowgreen;
	display: inline-block;
	font-size: 9px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.time {
	color: #444;
	display: inline-block;
	position: relative;
	margin-bottom: 9px;
	font-size: 12px;
}

.card-wrapper {
	height: 350px;
	position: relative;
	overflow: hidden;
	width: 100%;
}



.post__lists h2, .card  h2 {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 2;
}

.card  h2 {
text-align: center;}

.post__lists h2 a, .card  h2 a {
	color: #000;
}

.post__lists p {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 2;
}

.card-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 4px 2px;
	background: white;
	box-shadow: 0 1px 1px #000;
	font-weight: 600;
	text-decoration: none;
	text-transform: capitalize;
	transition: 0.3s;
}


/* =================== blog detail ====================== */


ul.post-social {
	margin: 2em 0;
}

.detail-post {
	/* display: flex; */
	width: 100%;
	/* flex-wrap: wrap; */
}

.sidebar{
	width: 100%;
	 /*border: 1px solid #eeeeee;
    background: #fafaff; */
	padding: 30px;
	padding: 0 1.5em;
}

.tags-links a:hover {
	color: #DA4453;
}

.header {
	width: 100%;
}

.single-caption,
.entry-title{
	text-align: center;
}

ul.post-social {
	margin: 2em 0;
}

p.tag-links a {
	padding: 6px 7px;
	line-height: 100%;
	display: inline-block;
	color: #FFF !important;
	background-color: #303030;}

.author-bio {
	margin: 4em 0;
	clear: both;
	border: 1px solid #eee;
	width: 100%;
}

.author-avatar {
	float: left;
	margin-right: 1.5em;
	box-shadow: 6px 7px 10px black;
	border-radius: 100%;
	margin-bottom: 15px;
}
.social-icon li{
	margin: 0 10px;
	color: #888;
	font-size: 1.05em;
    display: inline-block;
}

.author-name {
	text-transform: uppercase;
	margin-top: 0;
}

.author-bio .author-description {
	padding-left: 6.7em;
}

.sidebar .aside-title {
	font-size: 14px;
	text-transform: uppercase;
	margin: 21px 0;
}

.sidebar ul {
	padding: 0;
	line-height: 18px;
	font-size: 14px;
}

.sidebar ul li {
	list-style: none;
	margin-bottom: 10px;
}

.sidebar a:hover {
	color: #dadada;
}


/*====================== related posts ====================== */

.related_posts {
	width: 100%;
}

.related_posts ul li {
	display: block;
	text-align: center;
	margin-right: .5em;
}

.related_posts ul li:last-of-type {
	margin-right: 0;
}

.related-post-title {
	font-size: 14px;
	color: #333
}


/*====================== social buttons ====================== */

.comments-area{
	background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 30px;
	margin-top: 50px;
	width: 100%;

}



/*====================== forms ====================== */

.signup-form {
	margin: 10em auto;
	max-width: 100%;
	width: 320px;
}

.signup-form .text-center {
	margin-top: 1.5em;
}

.btn-block {
	background-color: #179bd7;
	width: 100%;
	padding: 1em 0;
}






/* ====================== Table ====================== */

table {
	width: 100%;
	border-width: 1px 0 0 1px;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
	table-layout: fixed;
}

table.cart {
	border: 1px solid rgba(0, 0, 0, .1);
	/* border-color: #ececec; */
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	border-collapse: separate;
	border-radius: 5px;
}

table,
th,
td {
	border: 1px solid #e1e1e1;
	text-align: left;
	padding: .5em;
	/* border-bottom: 1px solid #ececec; */
	line-height: 1.3;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

tbody tr:nth-child(odd) {
	background: #efefef;
}

tbody tr.subtotal {
	background: #ccc;
}

thead th,
tbody tr.total {
	background: #2a313e;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 31px;
	font-size: 15px;
	font-weight: 400;
}

td input[type="submit"] {
	font-size: 12px;
	padding: 4px 10px;
}


/* ====================== shop ====================== */

.cart-collaterals,
.shop {
	width: 100%
}

.proceed-to-checkout,
.button.coupon,
.shopping,
.button {
	background-color: #f05f40;
}

.coupon label {
	display: none;
}

.product_detail h2 {
	margin-bottom: .4em;
	margin-top: 0em;
	font-size: 2em;
}

.product_detail .price {
	margin-bottom: 1.5em;
	font-size: 1.2em;
	font-weight: bolder;
}

button.cart {
	background-color: #f05f40;
}

.product_meta {
	font-size: .8em;
	margin-top: 3em;
}

.product_meta>span {
	display: block;
	border-top: 1px dotted #ddd;
	padding: 5px 0;
}

.product_detail p>span {
	width: 50%;
	display: inline-block;
	color: #555;
	-webkit-text-fill-color: #555;
}

.description p {
	padding-top: 1.5em;
	border-top: 1px dotted #d5d5d5;
	margin-bottom: 3.5em;
}

.product-info p.stock {
	margin-bottom: 1em;
	line-height: 1.3;
	font-size: .8em;
	font-weight: bold;
	margin: 0;
}

p.in-stock {
	color: #7a9c59;
}

.product_detail p label {
	font-size: 1em;
	color: #777777;
	font-weight: normal;
	padding-right: 10px;
}

.product_detail p #id_quantity {
	width: 65px;
	/* border: 1px solid #eeeeee; */
	border-radius: 3px;
	padding-left: 10px;
	background: #fff;
}

.products {
	width: 100%;
}

.aside {
	float: left;
	width: 30%;
}

.products-new {
	float: right;
	width: 70%;
}

.product_items {
	position: relative;
	margin-top: 6em;
	font-size: 1em;
}

.product_list {
	position: absolute;
}

#categories li a {
	font-weight: bold;
	color: #616161;
}


/*====================== cjheckout ====================== */

fieldset.checkout {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

fieldset.checkout legend {
	font-weight: bold;
	color: Black;
	margin-left: 15px;
}

fieldset.checkout table th {
	text-align: right;
	width: 200px;
	font-weight: normal;
}

fieldset.checkout input {
	font-family: Courier;
	font-size: Large;
}


/*====================== social buttons ====================== */

.social-buttons li a {
	line-height: 24px;
	border-radius: 100%;
	display: inline-block;
	padding: 10px;
	height: 2.5em;
	width: 2.5em;
	margin-right: 0.5em;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
}


/*====================== footer ====================== */

#footer {
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0
}

#footer_outer {
	max-width: 100%;
	background-color: #232323;
	margin-top: 80px;
	font-size: inherit;
	letter-spacing: 1px;
	text-align: left;
	padding: 5px;
}

#footer_outer li,
.social-buttons li {
	display: inline-block;
	vertical-align: top;
}

#footer_inner {
	width: 100%;
	background: #191919;
	margin-top: 0px;
	padding: 1.5em;
	font-size: 12px;
	text-align: center;
}

#footer_outer .mailing-list i {
	color: #ffffff;
	margin-right: 5px;
	vertical-align: middle;
}

#footer_outer .mailing-list i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

#footer_outer,
#footer_inner,
#footer_outer .newsletter a,
#footer_inner a {
	color: #ffff;
}

#footer_outer .social,
#footer_outer .mailing-list,
#footer_outer .newsletter {
	width: 100%;
	margin-bottom: 2.5em;
	text-align: center;
}

#footer .newsletter a {
	padding: 11px 17px 13px;
	background-color: #d51b1e;
}


/* ====================== min-width: 481px ====================== */

@media only screen and (min-width: 481px) {
	.hero h1 {
		font-size: 2.75rem;
	}
}



/* ====================== max-width: 576px ====================== */

@media only screen and (max-width: 576px) {
	h2 {
		font-size: 1.2em;
	}
	h3 {
		font-size: 1em;
	}
	.social-buttons li a {
		margin-right: 0.2em;
	}
	.single-post {
		padding: 0 1em;
	}
	.box {
		width: 100%;
		height: 100%;
	}
}


/* ====================== max-width of 640 ====================== */

@media only screen and (max-width: 640px) {
	pre,
	code {
		font-size: 12px;
	}
	p,
	.post-description {
		font-size: 15px;
	}
	blockquote {
		margin: 0;
	}
}
/* ====================== max-width of 767 ====================== */

@media only screen and (max-width: 767px) {
	.header__menu {
		display: inline-block !important;
		position: absolute;
		padding: 1.5em 0.2em;
		right: 0;
		top: 0;
		border-left: 1px solid #e5e5e5;
		color: #1f1f1f;
		background-color: transparent;
	}
	.header__menu svg {
		width: 32px;
		fill: black;
	}
	.nav__wrapper {
		z-index: 10;
		background: #f9f9ff;
		background-color: #fff;
		width: 100%;
		max-width: 100%;
		position: absolute;
		/* This trasform moves the drawer off canvas. */
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
		/* Optionally, we animate the drawer. */
		transition: transform 0.3s ease;
		display: block;
		top: 5em;
		
	}
	.nav__wrapper.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.nav__item {
		display: list-item;
		border-bottom: 1px solid #E0E0E0;
		padding: 1em;
		width: 100%;
	}
	.cart tr {
		display: block;
	}
	.box {
		width: 50%;
	}
	.product_detail {
		margin-left: auto;
		margin-right: auto;
	}

}

/* ====================== min-width: 768px ====================== */
/* @media only screen and (max-width: 991px){
	.column:nth-last-child(2n){
		margin-left: 0;
	}
} */



/* ====================== min-width: 768px ====================== */

@media only screen and (min-width: 768px) {
	.container{
		width: 720px;
	}
	.nav__list {
		margin-right: 10em;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
    }

	.hero {
		height: 600px;
	}
	.hero .desc {
		font-size: 1.275rem;
	}

	#main__header .header__logo,
	.header-icons a {
		font-size: 1.2em;
	}
	.cart-summary {
		float: right;
		width: 60%;
	}
	button {
		font-size: 14;
	}
	.product_image,
	.receipt {
		flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		max-width: 50%
	}
	table th,
	table td {
		font-size: 14px;
		padding: 1em;
	}
	.box {
		width: 25%;
	}

	.column {
		
		/* margin-left: 2%;  */
		flex: 0 0 50%;
		-ms-flex: 0 0 50%;
    max-width: 50%;

	}

	

	.post-description .meta-info {
		text-align: center;
		font-size: 16px;
	}
	.post-description, .detail-post {
		width: 70%;
	}
	aside, .sidebar {
		width: 30%;
	}

	.span {
		width: 70%;
	}
	.order {
		width: 30%;
	}

	.content-item{
        width: 95%;
	}
}

/* ====================== min-width: 990px ====================== */

@media only screen and (min-width: 992px) {
	.container {
        max-width: 960px;
   }
	.column {
		flex: 0 0 33.33%;
		-ms-flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	/* .column:nth-last-child(3n){
		margin-left: 0;
	}  */
	#main__header .header__logo {
		font-weight: 700;
	}
	.header-icons ul li {
		padding: 0 1.5em;
	}
	.hero h1 {
		font-size: 3.75rem;
    }

	#footer_outer {
		padding: 40px 15px
	}
	#footer_inner,
	#footer_outer {
		font-size: 14px;
	}
	#footer_outer .social {
		width: 40%;
	}
	#footer_outer .mailing-list {
		width: 30%;
	}
	#footer_outer .newsletter {
		width: 25%;
	}
	.post-header {
		margin-left: 4em;
	}
	.order {
		padding-left: 3em;
    }
    aside {
    
        padding: 0 3em;
    }
   

}
/* ====================== min-width: 1200px ====================== */

@media only screen and (min-width: 1200px) {
	.order {
		padding-left: 5em;
	}
	.container {
        max-width: 1140px;
   }
}