<div id="footer_outer" class="inner-item elements-item-inner row">
        <div class="contact column col-2">
            <h3>Contact</h3>
            <p class="footer-links">

                    {% with flatpage_list as pages %}
                    {% for page in pages %}
                    <a href="{{ page.url }}">{{ page.title }}</a>
                    {% endfor %}
                    {% endwith %}
                    
                    <a href="#">sitemap</a>
            </p>
            <p class="footer-contact">
                info@achiengcindy.com
            </p>
            <p class="company-details"> Cindy Achieng Copyright © 2017-2019.</p>
        </div>
        <div class="folow column col-2 ">
                        <h3>Lets get social</h3>
                        <ul class="social-buttons">
                                        <li><a style="background-color: #333" target="_blank" href="https://github.com/achiengcindy">g</a></li>
                                        <li><a style="background-color : rgb(66, 101, 185)" target="_blank" href="https://www.facebook.com/cindy.muga.1">f</a></li>
                                        <li><a style="background-color : rgb(85, 172, 238)" target="_blank" href="https://twitter.com/achiengcindy_">t</a></li>
                                        <li><a style="background-color: rgb(76, 174, 227)" target="_blank" href="https://ke.linkedin.com/in/achiengcindy">l</a></li>
                                        <li><a style="background-color: rgb(76, 174, 227)" target="_blank" href="https://ke.linkedin.com/in/achiengcindy">l</a></li>
                                    </ul>
        </div>

</div>
       















