{% load blog_tags %}
{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="Cindy Achieng" />
<meta property="og:url" content="https://achiengcindy.com{{meta_url|default:'/'}}">
<meta property="og:image" content="https://achiengcindy.com{{meta_image|default:"/src/media_cdn/djangowhite.png"}}">
<meta property="og:description" content="{{meta_description}}">
<meta property="og:type" content="website">
<meta name="msvalidate.01" content="FA5FF56E0C73B6A411A5AA8C99952BB2" />
<meta name="yandex-verification" content="f8fcabccbea631a5" />
<meta property="fb:app_id" content="966242223397117">
<meta name="google-site-verification" content="xBTa2VSgg8vwN8i9jpNXEN-6Kt2QKtmw3XQ0_AyIDE8" />
<link rel="SHORTCUT ICON" href="{% static 'ico/favicon.ico' %}" type="x-icon"/>
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'ico/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'ico/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'manifest.json' %}">
<link rel="mask-icon" href="{% static 'ico/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- 
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->

