<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="Cindy Achieng" />
<meta property="og:url" content="https://achiengcindy.com{{meta_url|default:"/"}}">
<meta property="og:image" content="https://achiengcindy.com{{meta_image|default:"/src/media_cdn/djangowhite.png"}}">
<meta name="keywords" content="{{ meta_keywords|default:'Django, Python, javascript, Cyber Security, mentor' }}">
<meta property="og:description" content="{{meta_description|default:'Cindy Achieng is A developer mainly with Django, mentor and tecnopreneur in Nairobi.I
love to share knowledge acquired with the rest of the world'}}">
<meta property="og:type" content="article">
<meta name="msvalidate.01" content="FA5FF56E0C73B6A411A5AA8C99952BB2">
<meta property="fb:app_id" content="966242223397117">
<meta name="google-site-verification" content="xBTa2VSgg8vwN8i9jpNXEN-6Kt2QKtmw3XQ0_AyIDE8" />
