{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}



<div class="elements-item-inner topspace">
  <div class="signup-form inner-item ">
          <h2 class="text-center">Please login</h2>
          {% if form.errors %}Your username and password didn't match. Please try again.{% endif %}
          <form action="{% url 'login' %}" method="post">
             {% csrf_token %}     
             <input type="text" id="login-username" name="username" placeholder="email/username" >
             <input type="password" id="login-password" name="password" placeholder="Password"> 
             <input type="hidden" name="next" value="{{ next }}" />     
             <button type="submit" value="login" id="login-button">Login</button> 
          </form>
         <div class="pt mb signup">
             <span class="txt1">Forgotten Password?</span>
             <a class="txt2" href="{% url 'password_reset' %}">reset password here</a>
             <a class="txt2" href="{% url 'register' %}">register here</a>  
           </div>  
       </div>
       </div>




</script>

{% endblock %}