{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<section class="row">
<div class="detail-post column col-3 elements-item-inner">
        <article class="single-post">
            <header id="entry-header">
                    <h1>{{ post.title }}</h1>
                    <span>
                            <a href="https://achiengcindy.com" rel="bookmark">
                                <time class="entry-date date">{{ post.publish }}</time>
                                <time class="updated date">April 16, 2019, 4:27 p.m.</time>
                            </a>
                    </span>
                    <span class="author vcard"><a class="url fn n" href="https://achiengcindy.com/aboutcindy/">{{ post.author }}</a></span>
                    <span class="cat-links">
                            <i class="fa fa-folder-open"></i>
                            <a href="https://achiengcindy.com/" rel="category tag">
                                In category:
                                
                                </a><a href="/blog/tutorial-series/">Tutorial Series</a>
                                
                                
                            
                        </span>
                
 
            </header>
            <div id="post-excerpt">   {{ post.body|linebreaks }}</div>
            <footer id="post-meta"></footer>
        </article>
    <section class="comments"></section>
    </div>
<aside class="sidebar column col-4"></aside>
</section>

{% endblock %}