{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="detail_post column col-3 ">
    <section class="">
        <article class="">
            <header id="">
                    <h1>{{ post.title }}</h1>
                    <time class="date">
                    Published {{ post.publish }} by {{ post.author }}
                    </time>
            </header>
            <div class="">   {{ post.body|linebreaks }}</div>
            <footer></footer>
        </article>
    </section>
    <section class="comments"></section>
    </div>
<aside class="sidebar col-4"></aside>

{% endblock %}