{% extends "base.html" %}
{% load blog_tags %}
{% block title %}Cindy Achieng Blog{% endblock %}
{% block content %}


<section class="masonry topspace elements-item-inner inner-item">
        {% for post in posts %}
        <article class="brick mb">
                <header id="entry-header">
                                <a href="{{ post.get_absolute_url }}">
                        <figure>{% include "tags/list_thumbnail.html" %}</figure>
                        <h3>{{ post.title }}</h3>
                </a>
                </header>
                <div id="post-excerpt"> {{ post.body|truncatewords:30|markdown }}</div>
                <footer id="post-meta">
                        <div class="post-bottom-left text-left">
                                <div class="category">
                                </div>
                        </div>
                        <div class="post-bottom-right text-right">
                                <a href="{{ post.get_absolute_url }}" class="btn-read-more"> <span
                                                class="edgtf-btn-text">Read More</span> </a>
                        </div>
                </footer>
        </article>
        {% endfor %}

</section>
{% include "tags/pagination.html" with page=posts %}
{% endblock %}