
{% extends "base.html" %}
{% load blog_tags %}
{% load staticfiles %}
{% block title %} Blog Achieng Cindy{% endblock %}
{% block content %}
<section class="container">
    <div class="masonry topspace">
        {% for post in posts %}
        <article class="brick">
                <figure class="">
                    {% include "tags/list_thumbnail.html" %}
                    <figcaption class="single-caption text-center">
                        Image By {% if post.credit %}{{ post.credit }} {% else%}
                                <a href="https://achiengcindy.com">Cindy</a>{% endif %}
                    </figcaption>
                </figure>
                <div class="edgtf-post-text">
                    <div class="edgtf-post-text-inner">
                        <h3 class="edgtf-post-title">
                            <a href="{{post.get_absolute_url}}" style="letter-spacing: 0">{{ post.title }}</a>
                        </h3>
                            {{post.body|markdown|truncatewords_html:25 }}
                                <div class="post-meta">
                                        <div class="post-bottom-left">
                                            <div class="category">
                                                <a href="{{category.get_absolute_url}}"  rel="category tag">{{post.category}}</a>
                                            </div>
                                        </div>
                                        <div class="post-bottom-right">
                                                <a href="{{post.get_permalink_url}}"  class="btn-read-more"> <span class="edgtf-btn-text">Read More</span> </a>
                                        </div>
                                </div>  
                    </div>     
        </article>
            {% endfor %}
    </div>
</section>

{% include "tags/paginator.html" with page=posts %}
{% endblock %}





